<h3 class="title">Completed Tasks</h3>
<div class="completed-tasks row">
    <% @tasks.complete.each do |task| %>
      <%= render task %>
    <% end %>
</div>

<h3 class="title">Incompleted Tasks</h3>
<div class="my-tasks row">
  <% @tasks.incomplete.each do |task| %>
    <%= render task %>
  <% end %>
</div>

<%= link_to 'New Task', new_task_path, remote: true, class: 'new-task-button' %>
